[project]
	description = Repo for work for AI Survey
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Khanh Vo Duc (Chomolungma)
[access "refs/for/refs/*"]
	read = group user/Khanh Vo Duc (Chomolungma)
	push = group user/Khanh Vo Duc (Chomolungma)
	label-Code-Review = -2..+2 group user/Khanh Vo Duc (Chomolungma)
	label-Verified = -1..+1 group user/Khanh Vo Duc (Chomolungma)
	rebase = group user/Khanh Vo Duc (Chomolungma)
	removeReviewer = group user/Khanh Vo Duc (Chomolungma)
	submit = group user/Khanh Vo Duc (Chomolungma)
[access "refs/heads/*"]
	read = group user/Khanh Vo Duc (Chomolungma)
	create = group user/Khanh Vo Duc (Chomolungma)
	push = +force group user/Khanh Vo Duc (Chomolungma)
	pushMerge = group user/Khanh Vo Duc (Chomolungma)
[access "refs/tags/*"]
	push = group user/Khanh Vo Duc (Chomolungma)
	push = +force group user/Khanh Vo Duc (Chomolungma)
